body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sign-out {
  color: white;
  background-color: orange;
  border: none;
}

.friend-form-wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}


.hide {
  display: none;
}

.navbar {
  background-color: orange;
}

.logo {
  width: 80px;
  height: auto; 
  margin-right: 15px;
}

.logo-text {
  font-weight: 500;
}

.me-auto {
  margin-left: 25px;
}

.book-wrapper {
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.friends-wrapper {
  background-color: beige;
  display: flex;
  justify-content: center;
}

.friend {
  text-align: center;
}

.userLib {
  background-color: beige;
}

.section-title {
  color: black;
  text-align: center;
  margin-bottom: 1%;
  background-color: beige;
}

.login-page{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas: 
  '. .. ...'
  '. main ...'
  '. .. ...'
  ;
  background-color: orange;
  height: 100vh;
  width: 100vh;
  justify-self: center;
}

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 78%;
  grid-area: main;
  color: white;
}

.login-title {
  background-color: beige;
  color: black;
  text-align: center;
}

.worm {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: relative;
  left: 80.5%;
  top: 19.5%;
}