.search {
  background-image: linear-gradient(to bottom, rgba(255, 165, 0, 0), rgba(255, 166, 0, 0.342), rgb(255, 166, 0)), url("../../images/wallpaperflare.com_wallpaper\ \(2\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 400px;
}

.search .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInputs {
    margin-top: 150px;
    display: flex;
  }
  
  .search input {
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
    font-size: 18px;
    padding: 20px;
    height: 30px;
    width: 400px;
  }
  
  .searchIcon {
    height: 45px;
    width: 50px;
    background-color: none;
    display: grid;
    place-items: center;
    color: black;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 30px;
  }
  
  #clearBtn {
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    .search {
      height: 300px;
    }
    .searchInputs {
      margin-top: 100px;
    }
    .search input {
      width: 300px;
    }
  }